[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/LuisSousaRego/Ardeidae
[submodule "themes/ardeidae"]
	path = themes/ardeidae
	url = https://github.com/LuisSousaRego/Ardeidae
